
<body>

  <div class="title">
 Welcome
  </div>

  <div class="container-center">
 <form>
   <p class="form1">
      <input type="text" name="email" placeholder="Email">
      <label for="email"> </label>
      <span>Enter your email</span> <br>
    </p>

   <p class="form2">
      <input type="password" placeholder="Password">
      <label for="password"> </label>
      <span>Enter your password</span>
    </p>
 </form>
      <div class="sign">

         <button id="red" routerLink="/my-list">Sign In</button>



      </div>
  </div>


</body>
